/*

FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME
FIND A GOOD FONT AND COLOR SCHEME

*/
*{
    padding: 0;
    margin: 0;
    user-select: none;
    cursor: default;
}
body {
    background-color: #88D6FF;
}

/* TODO make nav sticky later*/
#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(101, 101, 101, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: fit-content;
}

/*------NAV & HOME------*/
#navbar li {
    margin-left: 5vw;
}

#navbar li a {
    float: left;
    font-family: Arial Black;
    display: block;
    color: white;
    text-align: center;
    padding: 0.7vw 1.6vw;
    text-decoration: none;
}
#navbar li img {
    position:absolute;
    right: 0;
    top: 0;
    height: 9vh;
}
#navbar li a:hover {
    background-color: #111;
}

#home{
    text-align: center;
    font-family: Oswald;
}

#home h1{
    padding-top: 13vh;
    font-size: 15vh;
}

#phrase{
    font-size: 7vh;
    padding-bottom: 0px;
}

#home p{
    font-size: 5vh;
}

#time{
    font-size: 4vh;
}

.page{
    height: fit-content;
}
#picture1{
  position: static;
  margin-left: 10%;
  border-radius: 50%;
}
#picture2{
  position: relative;
  left: 10%;
  border-radius: 50%;
}
#picture3{
  position: relative;;
  left: 20%;
  border-radius: 50%;
}

#button{
    height:8vh;
    width:25vh;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 3vh;
}

/*------About------*/

/*------Schedule------*/
#schedule{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: rgb(253, 253, 253);
}
#week_select{
    width: 25%;
    height: 50vh;
    text-align: center;
    padding: 2%;
}
#week_select h3{
    height: 9%;
    width: 90%;
    margin: auto;
    font-size: 2.3vw;
}
.week_button{
    height: 30%;
    width: 90%;
    margin: auto;
    border-top: 3px solid rgb(9, 9, 121);
    border-collapse: collapse;
    font-size: 1.6vw;
    color: rgb(92, 92, 92);
}
.week_button h5{
    padding-top: 7%;
    font-size: 2vw;
}
.week_button:hover{
    color: rgb(0, 0, 0);
}
#week_table{
    width: 60%;
}
.schedule_table{
    width: 100%;
    height: 85%;
    border: none;
    padding-top: 3%;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.schedule_table tr{
    height:25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.schedule_table tr:nth-child(odd){
    background-color: rgb(243, 243, 243);
}
.schedule_table tr:nth-child(even){
    background-color: rgb(214, 214, 214);
}
.schedule_table th{
    width: 20%;
    border-right: 2px solid rgb(228, 228, 228);
    font-size: 1.3vw;
}
.schedule_table th h6{
    padding-top: 8%;
    font-size: 1.7vw;
}
.schedule_table td{
    width: 80%;
}
.hide{
    display: none;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

/*------Staff------*/

/*------Sponsors------*/

/*------FAQ------*/

/*------Footer------*/



/*Scroll Bar*/
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}